{{#each model.people as |person|}}
    <p class="salutate">
      <div class="row">
          {{#if person.isFemale}}
              <div id="content" class="col s2">
                  Hello
                  <strong>Miss.</strong>
                  {{#link-to 'people.person' person.id}}
                    {{person.name}}
                  {{/link-to}}
                  {{person.salario}}
              </div>
          {{else}}
              <div id="content1" class="col s2">
                  Hello
                  <small>Mr.</small>
                  {{#link-to 'people.person' person.id}}
                    {{person.name}}
                  {{/link-to}}
                  {{person.salario}}
              </div>
          {{/if}}
        </div>
    </p>
{{/each}}
<li class="salutate">
  <a href="#" {{action 'incrementSalary'}}>Increment Salary</a>
</li>
<div class="salariototal">
    El salario total es:
    {{model.salariototal}}
</div>
{{outlet}}
